.overview {
  padding: 30px;
  position: relative;
  height: 500px;
}

.menu-overview {
  position: absolute;
  bottom: 3px;
}

.card {
  background: #2d6a4f;
  color: white;
  margin-top: 10px;
}

.overview-content {
  max-width: 1500px;
  margin: auto;
}

.nav-item {
  border-bottom: 3px solid transparent;
}

.nav-item:hover {
  border-bottom: 3px solid red;
}

@media (min-width: 575px) {
  .overview {
    height: 250px;
  }

  .card {
    margin-top: 0;
  }
}


@media (min-width: 768px) {

}

@media (min-width: 992px) {

  .overview-cards {
    max-width: 1500px;
    margin: auto;
  }
}
