<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Nova chamada
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova call</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formCall" [formGroup]="formCall" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="stock">Ativo</label>
            <input type="text" class="form-control" name="stock" id="stock" formControlName="stock">
          </div>

          <div class="form-group">
            <label class="my-1 mr-2" for="type">Tipo</label>
            <select class="custom-select my-1 mr-sm-2" name="type" id="type" formControlName="type">
              <option selected>Selecione</option>
              <option value="1">Compra</option>
              <option value="2">Venda</option>
            </select>
          </div>

          <div class="form-group">
            <label for="start">Preço entrada</label>
            <input type="text" class="form-control" name="start" id="start" formControlName="start">
          </div>

          <div class="form-group">
            <label for="stopGain">Stop Gain</label>
            <input type="text" class="form-control" name="stopGain" id="stopGain" formControlName="stopGain">
          </div>

          <div class="form-group">
            <label for="stopLoss">Stop Loss</label>
            <input type="text" class="form-control" name="stopLoss" id="stopLoss" formControlName="stopLoss">
          </div>

          <div class="form-group">
            <label for="description">Descrição</label>
            <textarea class="form-control" name="description" id="description"  formControlName="description" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" form="formCall" >Enviar</button>
        <button type="button" class="btn btn-info">Salvar</button>
        <button type="button" #closebutton class="btn btn-warning" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
