<form>
  <div class="form-group col-md-6">
      <label for="inputEmail4">Ativo</label>
      <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div>
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Tipo</label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Selecione</option>
    <option value="1">Compra</option>
    <option value="2">Venda</option>
  </select>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
